
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table width="40%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="center" align="center" valign="top">
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-cabecera.png" alt="cabecera">
                    </td>
                </tr>
                
                <tr>
                    <td class="center" align="left" valign="top">
                        <div style="padding-left: 10px; padding-right: 10px">
                            <br>
                            <br><br>
                                Se ha Finalizado proceso de imágenes con fecha de proceso {{fecha}} a {{fecha_fin}}
								<br>
                                Capa: {{capa}}
                                <br>
                                {% if empresa != '' %}
                                    Empresa id: {{empresa}}
                                <br>
                                {% endif %}
                                <br>
                                {% if continent %}
                                    Continente: {{continent}}
                                <br>
                                {% endif %}

                                {% if enterprise_name != '' %}
                                    Nombre de la empresa: {{enterprise_name}}
                                {% endif %}
                                <br>
                                Parcelas: {{parcelas}}
                            <br><br>
                                Errores: {{errors}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center" align="center" valign="top">
                        <br><br>
                        <br><br>
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-footer.png" alt="cabecera">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

