{% load i18n %}{% blocktrans %}
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table width="40%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="center" align="center" valign="top">
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-cabecera.png" alt="cabecera">
                    </td>
                </tr>
                
                <tr>
                    <td class="center" align="left" valign="top">
                        <div style="padding-left: 10px; padding-right: 10px">
                        <br>
                        <br><br>
                        Buenos días, esta es una alerta de Data4SmartFarming
                        <br><br>
                        Tu empresa {{enterprise_name}} ha llegado al {{porcentaje}}% de su límite de hectáreas.
                        <br><br>
                        <strong>¿Esto que significa?</strong>
                        <br>
                        La empresa ya no puede realizar ninguna inserción nueva o editar ninguna parcela cuando se haya aumentado el área de esta en la edición.
                        <br><br>
                        Te informamos de que tu limite es de {{hectares_avariable}} hectáreas y llevas ocupadas {{area_ocu}} hectáreas.
                        <br><br>
                        Si deseas aumentar este límite puedes ponerte en contacto con nosotros a través del mail soporte@d4smartfarming.com
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center" align="center" valign="top">
                        <br><br>
                        <br><br>
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-footer.png" alt="cabecera">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblocktrans %}

