*.pyc
__pycache__/
**/__pycache__/
media/
imageprocesor/
campanas/__pycache__/
employees/__pycache__/
roles/__pycache__/
groups/__pycache__/
parcelas/__pycache__/
user/__pycache__/
profiles/__pycache__/
enterprises/__pycache__/
imgprocess/__pycache__/
.vscode/
backend/settings.py