{% load i18n %}{% blocktrans %}
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table width="40%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="center" align="center" valign="top">
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-cabecera.png" alt="cabecera">
                    </td>
                </tr>
                
                <tr>
                    <td class="center" align="left" valign="top">
                        <div style="padding-left: 10px; padding-right: 10px">
                        <br>
                        <br><br>
                        Hi!
                        <br><br>
                        You are receiving this email because you or someone else has requested a password for your user account.<br><br>
                        It can be safely ignored if you did not request a password reset. Click the link below to reset the password:<br>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td class="center" align="center" valign="top">
                        <br><br>
                        <a href="{{reset_password_url}}">
                            <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-boton.png" alt="cabecera">
                        </a>
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td class="center" align="left" valign="top">
                        {% endblocktrans %}
                        {% if email %}{% blocktrans %}<br><br>In case you forgot, your email is {{ email }}.{% endblocktrans %}{% endif %}
                        <br><br><br>
                        {% blocktrans %}
                        A greeting.
                    </td>
                </tr>
                <tr>
                    <td class="center" align="center" valign="top">
                        <br><br>
                        <br><br>
                        <img with="100%" src="https://d4smartfarming.smartbits-es.com/imgMail/mail-footer.png" alt="cabecera">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblocktrans %}

